.AcnhHeader {
    position: sticky; 
    top: 0;
    z-index: 2;

}
.AcnhHeader nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    border-width: 0 0 1px;
    padding: 3px;
}

.AcnhHeader a {
    color: white;
    padding: 3px;
}
