.Settings {
    text-align: start;
    justify-content: flex-start
}

.container {
    justify-content: flex-start;
    align-items: center;
  }

  .header {
    text-align: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 0px;
    margin: auto;
  }

  .row {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .centerMe {
    /* margin: auto; */
    width: 90%;
    padding: 2px;
  }
