.Settings {
    text-align: start;
    justify-content: flex-start
}

.container {
    justify-content: flex-start;
    align-items: center;
  }

  .header {
    text-align: center;
    align-items: center;
    padding-right: 5px;
    margin-bottom: 0px;
  }